.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    max-width: 99vw;
  }
}

.cell {
  width: 50px;
  height: 50px;
  color: black;
  user-select: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #282828;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    width: 9vw;
    height: 9vw;
  }
}

.size-6 {
  background-color: red;
}
.size-4 {
  background-color: green;
}
.size-3 {
  background-color: yellow;
}
.size-2 {
  background-color: blue;
}

.hover {
  background-color: grey;
}
