.grid {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.game-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.game-form *:not(input) {
  margin-top: 20px;
}

.copy-icon {
  cursor: pointer;
}

.game-link-label,
.game-link {
  color: white;
}
